flask
flask_cors
pandas
scikit-learn==1.5.2
requests
tensorflow==2.18.0
pydub
Pillow
PyPDF2
tensorflow_hub
language_tool_python==2.8.1
textblob==0.17.1
nltk==3.8.1
pyspellchecker
gurulearn
openpyxl
numpy==1.26.4

#pip install -r requirements.txt
