.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.modalz {

  display: none;

}

.sidenav {
  float: left;
  width: 20%;
  height: 100vh;
}

.contents {
  align-items: center;
  width: auto;
  overflow-x: auto;
}

.red-color-label{
  color: red;
}

.sliderMobileBtn{
  position: fixed;
  z-index: 99;
}

.mobile-view {
  display: none;
}

.ant-picker-input input[disabled] {
  color: black !important;
}

.site-button {
  background-color: black;
  color: white;
}

.site-button:hover {
  background-color: #333;
}

.ant-btn-primary {
  background-color: black;
  border-color: black;
}

.ant-btn-primary:hover,
.ant-btn-primary:focus {
  background-color: #333;
  border-color: #333;
}

.black-button.ant-btn-primary {
  background-color: black !important;
  border-color: black !important;
}

.black-button.ant-btn-primary:hover {
  background-color: #333 !important;
  border-color: #333 !important;
}

.gray-button {
  background-color: #333 !important;
  border-color: #333 !important;
  color: white;
}

.gray-button:hover {
  background-color: #555 !important;
  border-color: #555 !important;
  color: white;
}